body {
  margin: 0;
  color: #333;
  background: #fff;
}
h1,
h2 {
  box-sizing: border-box;
  width: 50%;
  padding: 0 0.31em;
  margin: 0;
  position: absolute;
  bottom: 0;
  font: normal 100%/1.62 sans-serif;
}
h1 {
  left: 0;
  text-align: left;
}
h2 {
  right: 0;
  text-align: right;
  opacity: 0.6;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
